In [1]:
import sys
import pandas as pd
import numpy as np
import sqlalchemy
import pymysql
import pymssql
from datetime import datetime, timedelta
import time

In [2]:
## Vision MSSQL DB 접속 정보 (To)
az_host = '20.194.52.255'
az_user = 'lseadmin'
az_password = 'Tbvjaosvkdnj00'
az_db = 'mc'

azure_engine = sqlalchemy.create_engine('mssql+pymssql://' + az_user + ':' + az_password + '@' + az_host
                                        + ':21433/' + az_db + '?charset=utf8')

azure_conn = azure_engine.connect()

In [4]:
yesterday = datetime.now() - timedelta(days=3)
check_dt = yesterday.strftime('%Y%m%d')
check_mon = check_dt[:-2]

line = 'MR_1LINE'

azure_tname1 = 'ZMRA_SRFC_INSP_L_' + line + '_' + check_mon
azure_tname2 = 'ZMRA_SRFC_INSP_L'

azure_tname1

'ZMRA_SRFC_INSP_L_MR_1LINE_202302'

In [5]:
query = """SELECT * FROM """ + azure_tname1 + """ WHERE dd = '""" + check_dt + """';"""

result = pd.read_sql_query(query, azure_conn)
result1 = result
result1

,ID,DD,HHMISS,SRAL_ID,AMP,VOLT1,VOLT2,HZ1,HZ2,TYP,MR,BRAND,BRAND_CAT,SIDE,RST,DEFT_TYP,X1CODI,Y1CODI,X2CODI,Y2CODI
0,51795,2023-02-07,08:31:52,P01040320600459B9D72_01317006842,10,200,0,50,60,HC10,0,HITACHI,HITACHI,LINE,OK,None,NaN,NaN,NaN,NaN
1,51796,2023-02-07,08:31:53,P01040320600459B9D72_01317006842,10,200,0,50,60,HC10,0,HITACHI,HITACHI,LOAD,OK,None,NaN,NaN,NaN,NaN
2,51797,2023-02-07,08:31:57,P01040320600459B9D72_01317006842,10,200,0,50,60,HC10,0,HITACHI,HITACHI,RIGHT,OK,None,NaN,NaN,NaN,NaN
3,51798,2023-02-07,08:31:57,P01040320600459CMO72_01317006842,10,200,0,50,60,HC10,0,HITACHI,HITACHI,LINE,OK,None,NaN,NaN,NaN,NaN
4,51799,2023-02-07,08:31:57,P01040320600459B9D72_01317006842,10,200,0,50,60,HC10,0,HITACHI,HITACHI,LEFT,OK,None,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9655,61450,2023-02-07,17:10:18,P010403207004140EE81_00013890176,4,200,220,50,60,MR-4,4a,METASOL,LS,LOAD,OK,None,NaN,NaN,NaN,NaN
9656,61451,2023-02-07,17:10:22,P010403207004140EE81_00013890176,4,200,220,50,60,MR-4,4a,METASOL,LS,RIGHT,OK,None,NaN,NaN,NaN,NaN
9657,61452,2023-02-07,17:10:22,P010403207004140EE81_00013890176,4,200,220,50,60,MR-4,4a,METASOL,LS,LEFT,OK,None,NaN,NaN,NaN,NaN
9658,61453,2023-02-07,17:10:26,P010403207004140EE81_00013890176,4,200,220,50,60,MR-4,4a,METASOL,LS,TOP,OK,None,NaN,NaN,NaN,NaN
9659,61454,2023-02-07,17:10:26,P010403207004140EE81_00013890176,4,200,220,50,60,MR-4,4a,METASOL,LS,BARRIER,OK,None,NaN,NaN,NaN,NaN

In [6]:

is_FF = result[result['RST'] == 'FF']
FF = is_FF[is_FF.columns[is_FF.columns.isin(['DEFT_TYP'])]]
FF.rename(columns={'DEFT_TYP':'DEFT_TYP_FF'}, inplace=True)
FF

C:\Users\limjh\AppData\Local\Temp\ipykernel_24776\2889523199.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  FF.rename(columns={'DEFT_TYP':'DEFT_TYP_FF'}, inplace=True)

Empty DataFrame
Columns: [DEFT_TYP_FF]
Index: []

In [7]:
is_NG = result[result['RST'] == 'NG']
NG = is_NG[is_NG.columns[is_NG.columns.isin(['DEFT_TYP'])]]
NG

                   DEFT_TYP
170         SCREW_ASSY_DEFT
618   TOP_COVR_PRT_LOC_DEFT
1326        SCREW_ASSY_DEFT
1337         BRR_CRSBR_DMGE
1747                  CTMNT
2148        SCREW_ASSY_DEFT
2214        SCREW_ASSY_DEFT
2396                  CTMNT
2908        SCREW_ASSY_DEFT
2966              FRME_DMGE
3119      BRR_TOP_COVR_DMGE
3297          TOP_COVR_DMGE
3414         TOP_CRSBR_DMGE
3415         BRR_CRSBR_DMGE
3663          TOP_COVR_DMGE
3705              FRME_DMGE
4340          TOP_COVR_DMGE
4420         TOP_CRSBR_DMGE
4425          TOP_COVR_DMGE
4572  LNS_COIL_BBN_OCR_DEFT
5354        SCREW_ASSY_DEFT
6263          TOP_COVR_DMGE
6990        SCREW_ASSY_DEFT
8192        BKSPR_ASSY_DEFT
8193        BKSPR_ASSY_DEFT
8315                  CTMNT
8535        BKSPR_ASSY_DEFT
8631              FRME_DMGE

In [9]:
# result1.join(NG, how='left')

merge_ff = pd.merge(result1, FF, how='left',left_index=True, right_index=True)
merge_ff_ng = pd.merge(merge_ff, NG, how='left',left_index=True, right_index=True)
merge_ff_ng = merge_ff_ng.drop(['DEFT_TYP_x'], axis = 1)
merge_ff_ng.rename(columns={'DEFT_TYP_y':'DEFT_TYP'}, inplace=True)

merge_ff_ng.columns

Index(['ID', 'DD', 'HHMISS', 'SRAL_ID', 'AMP', 'VOLT1', 'VOLT2', 'HZ1', 'HZ2',
       'TYP', 'MR', 'BRAND', 'BRAND_CAT', 'SIDE', 'RST', 'X1CODI', 'Y1CODI',
       'X2CODI', 'Y2CODI', 'DEFT_TYP_FF', 'DEFT_TYP'],
      dtype='object')

In [76]:
## Vision MSSQL DB 접속 정보 (To)
az_host = '20.194.52.255'
az_user = 'lseadmin'
az_password = 'Tbvjaosvkdnj00'
az_db = 'mc_test'

azure_engine = sqlalchemy.create_engine('mssql+pymssql://' + az_user + ':' + az_password + '@' + az_host
                                        + ':21433/' + az_db + '?charset=utf8')

azure_conn = azure_engine.connect()

In [77]:
# merge_ff_ng.copy()

# if line == 'MC100a_1LINE' :
#     merge_ff_ng['LINE'] = 'MC100a_1'
        
                                 
if (line == 'MC65a_1LINE' or line =='MC100a_1LINE') :
    #merge_ff_ng = merge_ff_ng.loc[:, ['ID', 'DD', 'HHMISS', 'SRAL_ID', 'AMP', 'VOLT1', 'VOLT2', 'HZ1', 'HZ2', 'TYP', 'UA_1', 'TERMINAL', 'BRAND','BRAND_CAT', 'SIDE', 'RST','DEFT_TYP', 'DEFT_TYP_FF', 'X1CODI', 'Y1CODI', 'X2CODI', 'Y2CODI']]
    merge_ff_ng.to_sql(con=azure_engine, name=azure_tname1, index=False, if_exists='append')
    print(line + ' ' + check_dt + ' Insert Complete')

MC100a_1LINE 20230206 Insert Complete